.characterOverviewContainer {

}

.icon {
  display: inline-block;
  margin-right: var(--spacing-xsmall);

  img {
    width: 1.5em;
    height: 1.5em;
    line-height: 1em;
  }
}

.log path {
  fill: #f00;
}
