.characterOverviewContainer {

}

.icon {
  display: inline-block;
  margin-right: var(--spacing-xsmall);
  background-color: #000;
  padding: 4px;

  img {
    width: 1.5em;
    height: 1.5em;
    line-height: 1em;
  }
}
