.entityIcon {
  //--icon-width: 1.5em;
  //--icon-height: 1.5em;
  --icon-size: 2.5em;
  --frame-size: 2.5em;

  border-radius: 3px;
  width: var(--frame-size);
  height: var(--frame-size);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  svg {
    max-width: var(--icon-size);
    max-height: var(--icon-size);
    //line-height: 1em;
  }
}

.sand path {
  fill: #e8d6aa;
}

.stick path {
  fill: #7c6a53;
}

.plant path {
  fill: #93CD56;
}

.woodAxe path {
  fill: #806953;
}

.wood path {
  fill: #806953;
}

.healingPotion path {
  fill: #df3636;
}
