:root {

  --font-size-base: 14px;

  --panel-color-background: #333;
  --panel-color-border: #CBCBCB;
  --panel-border: 1px solid var(--panel-color-border);

  --spacing-xxsmall: 2px;
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 18px;
  --spacing-xlarge: 24px;
  --spacing-xxlarge: 48px;
}
